.layer {
  transition: scale 0.5s ease;

  transform: rotateX(60deg) rotateZ(45deg);
  -webkit-transform: rotateX(60deg) rotateZ(45deg);
  -moz-transform: rotateX(60deg) rotateZ(45deg);

  background: linear-gradient(80deg, rgba(64, 214, 114, 0.5) 0%, rgba(64, 214, 114, 0.8) 100%);
  background: -webkit-linear-gradient(80deg, rgba(64, 214, 114, 0.5) 0%, rgba(64, 214, 114, 0.8) 100%);
  background: -moz-linear-gradient(80deg, rgba(64, 214, 114, 0.5) 0%, rgba(64, 214, 114, 0.8) 100%);

  height: 200px;
  width: 200px;

  border-radius: 50px;
}

.layerHighlight {
  scale: 1.2;
  background: linear-gradient(80deg, rgba(64, 214, 114, 0.8) 0%, rgba(64, 214, 114, 1) 100%);
}

.layer:hover {
  scale: 1.2;
}

.layerWrapper {
  height: 50px;
  width: 300px;
}

.textFade {
  animation: fade-up 0.5s ease;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
