.background {
  height: 100vh;
  min-height: 650px;
  filter: blur(80px);
  -webkit-filter: blur(80px);
  @apply absolute top-0 left-0 overflow-hidden w-full
}

.gradient {
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1);
  @apply h-full absolute
}

.hero {
  height: calc(100vh - 5.5rem);
  min-height: calc(650px - 5.5rem);
  @apply mb-0 md:mb-20
}

.text {
  animation: fade-in 1s ease-in;
  @apply mx-6 lg:mx-16 h-full flex flex-col justify-center
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ping {
  0% {
    scale: 2;
    opacity: 0;
  }
  25% {
    scale: 2;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
