.herobg {
  animation: ping 4s cubic-bezier(0, 0, 0.2, 1);
}

.herotext {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ping {
  0% {
    scale: 2;
    opacity: 0;
  }
  25% {
    scale: 2;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
