.gradientTextOrange {
  background: linear-gradient(80deg, rgba(255, 128, 0, 1) 0%, rgba(255, 72, 127, 1) 100%);
  background: -moz-linear-gradient(80deg, rgba(255, 128, 0, 1) 0%, rgba(255, 72, 127, 1) 100%);
  background: -webkit-linear-gradient(80deg, rgba(255, 128, 0, 1) 0%, rgba(255, 72, 127, 1) 100%);

  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradientTextPink {
  background: linear-gradient(80deg, rgb(255, 72, 128) 0%, rgb(0, 56, 255) 100%);
  background: -moz-linear-gradient(80deg, rgb(255, 72, 128) 0%, rgb(0, 56, 255) 100%);
  background: -webkit-linear-gradient(80deg, rgb(255, 72, 128) 0%, rgb(0, 56, 255) 100%);

  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradientTextBlue {
  background: linear-gradient(80deg, rgba(255, 128, 0, 1) 0%, rgba(255, 72, 127, 1) 100%);
  background: -moz-linear-gradient(80deg, rgba(255, 128, 0, 1) 0%, rgba(255, 72, 127, 1) 100%);
  background: -webkit-linear-gradient(80deg, rgba(255, 128, 0, 1) 0%, rgba(255, 72, 127, 1) 100%);

  background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.sectionHeader {
  @apply text-center text-4xl tracking-tight font-display p-10
}

.layer {
  transition: scale 0.5s ease;
  -webkit-transition: scale 0.5 ease;
  -moz-transition: scale 0.5 ease;
  border-radius: 25%;
  transform: rotateX(60deg) rotateZ(45deg);
  height: 200px;
  width: 200px;
}

.layer:hover {
  scale: 1.2;
}

.layerWrapper {
  @apply -my-20 group-hover:-my-10
}
