.section {
  @apply relative w-full h-dvh  flex items-center my-96
}

.sectionInner {
  @apply max-w-4xl py-6 mx-6 md:mx-16 min-h-fit max-h-dvh overflow-y-auto no-scrollbar
}

.fadeIn section, .fadeIn div {
  opacity: 0;
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--depth, 1) * 0.5s + var(--order, 1) * 0.5s);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
