.section {
  @apply relative w-full min-h-fit flex items-center my-96 h-dvh
}

.sectionInner {
  @apply max-w-4xl mx-6 md:mx-16 min-h-fit
}

.fadeIn  div {
  opacity: 0;
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

.fadeIn div {
  animation-delay: calc(var(--depth, 0) * 0.05s + var(--order, 0) * 0.5s);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
